.container{
  position:relative;
  width:100%;
  min-height:100vh;
  background-color:white;
  overflow:hidden;
  text-align:center;
}

.container:before{
 content:'';
 position:absolute;
 width:500px;
 height:500px;
 border-radius:50%;
 background:linear-gradient(-45deg, red,black);
 text-align:center;
 top:13%;
 left:0;
}



.img{
  width:100px;
  height:100px;
}

.inicio{
  align-items:center;

}

.login{
  align-items:center;
  text-align:center;
  padding:12px;
  margin-top:5px;
  width:95%;
}


.button{
  border-radius:15px;
}

ion-input{
  border:1px black gray !important;
  border-radius:20px;
}

.title{
  text-align:center;
  align-items:center;
  color:white;
  margin-top:25px;
  position:absolute;
  margin-left:85px;
}

ion-item{
  margin-top:20px;
}