.container{
  position:relative;
  width:100%;
  min-height:100vh;
  background-color:white;
  overflow:hidden;
}

.container:before{
 content:'';
 position:absolute;
 width:500px;
 height:500px;
 border-radius:50%;
 background:linear-gradient(-45deg, red,black);
 top:13%;
 left:0;
}

.type-user{
    font-size:14px;
}


.segmento{
	margin-top:40px;
	padding-left:10px;
	padding-right:10px;
	border-radius:20px;
}


.img{
  width:100px;
  height:100px;
}


.inicio{
  align-items:center;

}

ion-checkbox{
 --border-radius:50%;
}

.login{
  align-items:center;
  text-align:center;
  padding:12px;
  margin-top:5px;
  width:95%;
  
}

.titulo{
  color:white;
  margin-top:25px;
  position:absolute;
}

.button{
  border-radius:15px;
}

ion-input{
  border:1px black gray !important;
  padding:2px;
  border-radius:20px;
  
}

.checkbox{
  margin-top:5px;
}

ion-item{
  margin-top:20px;
}
