ion-content{
 background:linear-gradient(-45deg, red,black);
}

.register{
  align-items:center;
  text-align:center;
  padding:12px;
  margin-top:5px;
  width:95%;
}

.img{
  width:100px;
  height:100px;
}

ion-item{
  margin-top:20px;
}

.titulo{
  color:white;
  margin-top:25px;
  position:absolute;
}